*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lavender;
}

h2{
    font-size: 4vw;
    padding: 10px 0;
    text-align:center;
    background-color: rgb(75, 70, 70);
    color: white;
    text-shadow: 2px 2px 2px green;
    border-radius: 10px;
}

#container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.8vw;
    justify-content: center;
    padding: 5vh 20vw;
    background-color: lavender;
}

.item{
    border-radius: 10px;
    filter: grayscale(100%); /*this makes .item acts as containing block for pos:absolute for figcaption*/
    overflow: hidden;
    /* filter dropshadow and filter grayscale dont work together dropshadow auto removes grayscale effect */
    box-shadow: 3px 3px 3px gray;
}

img{
    width: 100%; /*size of parent element - item*/
    height:101%;
    border-radius: 10px;
}

.item:hover{
    /* box-shadow: 3px 3px 10px 3px black, -3px -3px 3px 3px gray;
    filter: grayscale(0); */
    filter: drop-shadow(5px 5px 10px black);/*we can write above code for same effect*/
    transform: scale(1.1);
    transition: 0.5s;
}

figcaption{
    position:absolute; /*not given .item pos:rel still it is relative to .item bcz of filter, see MDN pos:absolute*/
    bottom: 0;
    padding-bottom: 3px;
    padding-left: 5px;
    opacity: 0; 
    color: white;
    font-weight: 500;
    text-align: center;
}

.item:hover figcaption{ /*effects figcaption when item gets hovered*/
    opacity: 1; /*will not be visible untill it gets hovered*/
    width:100%;
    background: linear-gradient(to top,rgba(0, 0, 0, 1), rgba(67, 64, 64, 0.1));
}

@media (orientation: portrait){ 
    h2 {
        font-size: 4vh;
    }
    #container{
        gap: 1.5vh;
        padding:5vh 5vw
    }
}